.autocomplete-search-box {
  height: 40px;
  position: absolute;
  width: 400px;
  background: #fff;
  top: 20%;
  transform: translateX(-50%);
  left: 50%;
  max-width: 100%;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-image: url(../../../imgs/search.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  > input {
    position: absolute;
    width: 100%;
    background-color: transparent;
    border: 0px;
    height: 100%;
    padding-left: 40px;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 6px rgba(9, 64, 255, 0.2);
      border-radius: 4px;
    }
    z-index: 1;
  }
  > .holder {
    width: auto;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    top: calc(100% - 5px);
    left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    > .list {
      padding: 5px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      max-height: 250px;
      box-sizing: border-box;
      > .no-data {
        width: 150px;
        height: 50px;
        position: relative;
        float: left;
        > .text {
          position: absolute;
          width: auto;
          height: auto;
          transform: translateX(-50%) translateY(-50%);
          top: 50%;
          left: 50%;
        }
      }
    }
  }
}
